<a href="https://colab.research.google.com/github/crnaqq/Introduction-to-Computers-/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("0523")

0523

In [3]:
sum = 0
test = int(input("請輸入一個正整數:"))
for n in range(1, test+1):
      sum = sum+n
print("1到",test, "的整數和為:",sum)

請輸入一個正整數:10
1到 10 的整數和為: 55

In [9]:
sum = 0
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
      sum = sum+n
      print("1到",str(m), "的整數和為:",sum)

請輸入一個正整數:10
1到 1 的整數和為: 10
1到 2 的整數和為: 20
1到 3 的整數和為: 30
1到 4 的整數和為: 40
1到 5 的整數和為: 50
1到 6 的整數和為: 60
1到 7 的整數和為: 70
1到 8 的整數和為: 80
1到 9 的整數和為: 90
1到 10 的整數和為: 100

In [10]:
for j in range(1,5):
    print(j)
    for i in range(1,3):
        k = i * j
        print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [12]:
for j in range(1,5+1):
    print(j)
    for i in range(1,3):
        k = i * j
        print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [44]:
for j in range(2,10):
    for i in range(1,10):
        k = i * j
        print(j,"*",i,"=",k, end="    ")
        if (i==9):
            print(end="\n")

2 * 1 = 2    2 * 2 = 4    2 * 3 = 6    2 * 4 = 8    2 * 5 = 10    2 * 6 = 12    2 * 7 = 14    2 * 8 = 16    2 * 9 = 18
3 * 1 = 3    3 * 2 = 6    3 * 3 = 9    3 * 4 = 12    3 * 5 = 15    3 * 6 = 18    3 * 7 = 21    3 * 8 = 24    3 * 9 = 27
4 * 1 = 4    4 * 2 = 8    4 * 3 = 12    4 * 4 = 16    4 * 5 = 20    4 * 6 = 24    4 * 7 = 28    4 * 8 = 32    4 * 9 = 36
5 * 1 = 5    5 * 2 = 10    5 * 3 = 15    5 * 4 = 20    5 * 5 = 25    5 * 6 = 30    5 * 7 = 35    5 * 8 = 40    5 * 9 = 45
6 * 1 = 6    6 * 2 = 12    6 * 3 = 18    6 * 4 = 24    6 * 5 = 30    6 * 6 = 36    6 * 7 = 42    6 * 8 = 48    6 * 9 = 54
7 * 1 = 7    7 * 2 = 14    7 * 3 = 21    7 * 4 = 28    7 * 5 = 35    7 * 6 = 42    7 * 7 = 49    7 * 8 = 56    7 * 9 = 63
8 * 1 = 8    8 * 2 = 16    8 * 3 = 24    8 * 4 = 32    8 * 5 = 40    8 * 6 = 48    8 * 7 = 56    8 * 8 = 64    8 * 9 = 72
9 * 1 = 9    9 * 2 = 18    9 * 3 = 27    9 * 4 = 36    9 * 5 = 45    9 * 6 = 54    9 * 7 = 63    9 * 8 = 72    9 * 9 = 81

In [17]:
for i in range(1,5):
    if (i==4):
        break
    print(i, end=" ")

1 2 3

In [20]:
for i in range(1,5):
    if (i==4):
        continue
    print(i, end=" ")

1 2 3

In [33]:
count = 0
for string in "測試看看!":
    count+=1
    if string == "看":
        break
    print(string)
print("迴圈結束!")
print("迴圈執行了 %d 次" %count )

測
試
迴圈結束!
迴圈執行了 3 次